@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto Mono", monospace;
}
.cmpname{
  font-family: "Coiny", system-ui;
}
.inputBox{
  box-shadow: 0px 0px 20px #a983ff;
  border-radius: 23px;
  outline: none;
  padding:4px 16px;
}

.navbtn:hover{
  border-radius: 10px;
  text-shadow: 2px 2px 5px white;
  color: white;
}
.addpassBtn{
  background-color:#e8b715f0 ;
  border-radius: 23px;
  padding: 4px 10px;
}
.addpassBtn:hover{
  box-shadow: 0px 0px 20px #e2bf23;

}
.passTable{
  box-shadow: 0px 0px 20px #a983ff ;
}
/* .siteurl{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
} */

*{


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6935a1;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29026cbc;

  border-radius: 23px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  
}
}
@media (max-width:400px) {
  .navbtnw{
    gap: 10px;
  }
  .passTable{
    height: 30vh;
  }
  
}
@media (max-width:360px) {
  .navbtnw{
    gap: 6px;
  }
  
}